[Unit]
Description=IPAPI location
Wants=location.timer

[Service]
Type=oneshot
EnvironmentFile=/home/rai/.env
ExecStart=/home/rai/bin/location

[Install]
WantedBy=default.target
