[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -o DP-1 -i "%h/pictures/wallpaper-dp-1" -o DP-2 -i "%h/pictures/wallpaper"
Restart=on-failure
