#outer-box {
    border-color: #98c379;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    background-color: #272b33;
    color: #abb2bf;
    font-family: "Source Code Pro";
    font-size: 15px;
    font-weight: 500;
}

#input {
    background-color: #272b33;
    border-color: inherit;
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 2px;
    color: inherit;
}

#inner-box {
    padding: 2px;
}

#img {
    margin-right: 5px;
}

#entry:selected {
    background-color: #98c379;
    color: #181a1f;
}
